
<span style="font-size: 40px; font-weight:bolder; display:flex; justify-content: center; margin: 50px 0;">
  <h1 style="color: #FF5630;">RECAPITULATIF DE VOTRE COMMANDE</h1>
</span>

<!-- bloc gauche, récap produits -->
<div class="test" style="text-align: -webkit-center;">

  <% @cart.cart_items.each do |cart_item| %>  

  <div class="card mb-3" style="max-width: 1200px; display: flex;justify-content: center; height: 140px;">
    <div class="row no-gutters">
      <div class="col-md-4" style="display: flex; justify-content: center; align-items: center;">
        <%= image_tag cart_item.item.image_url, alt: "Produit", class:"card-img", style: "height: 120px; object-fit: contain;" %>
      </div>
      
      <div class="col-md-8">
        <div class="card-body" style="display: flex; justify-content: space-around; align-items: center; height: 100%;">
          <h5 class="card-title"><%= cart_item.item.title %></h5>

          <%= link_to 'Supprimer', item_cart_item_path(1, cart_item.id), method: 'delete' %>

          <span style="display: flex;justify-content: flex-end;font-weight: 560;">
            Prix unitaire : <%= cart_item.item.price %> €
            <br>
            Livraison : offerte
          </span>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<!-- bloc gauche, récap produits -->

<!-- Récap produits/livraison/total -->

  <div class="validation" style="display: flex;justify-content: center; margin: 30px;">
    <div class="card text-center" style="width: 23rem;">
      <div class="card-body">
        <h5 class="card-title" style="color: #FF5630;">Montant de votre commande : <%= @total %> €</h5>
        <%= link_to 'Passer commande', new_order_path, class: "btn btn-primary" %>
      </div>  
     </div>
  </div>

<!-- Récap produits/livraison/total -->

<!-- Icones infos -->
<div class="card-deck" style="width: 100%; margin: 30px 0;">
  <div class="card">
    
    <div class="card-body text-center">
    <i class="fas fa-credit-card fa-4x"></i>
      <h5 class="card-title" style="color: #FF5630;">Paiement sécurisé</h5>
     <p class="card-text">Vos paiments sont sécurisé grâce à une clé de chiffrage unique de SSL-256bits. </p>
    </div>
  </div>
  <div class="card">
    
    <div class="card-body text-center">
      <i class="fas fa-shipping-fast fa-4x"></i>
      <h5 class="card-title" style="color: #FF5630;">Livraison rapide et sécurisé</h5>
       <p class="card-text">Votre colis sera préparé dans les meilleurs délais puis pris en charge via nos transporteurs.</p>
    </div>
  </div>
  <div class="card">

    <div class="card-body text-center">
      <i class="fas fa-comments fa-4x"></i>
      <h5 class="card-title" style="color: #FF5630;">Service client</h5>
      <p class="card-text">Une question ? Notre service client est à votre écoute 7j/7 et 24h/24 pour répondre à vos questions.</p>
    </div>
  </div>
</div>
<!-- Icones infos -->