

	<div class="jumbotron mt-5">
	  <h1 class="display-4 my-4"><span class="orange">Black</span><span class="mid-grey">Friday</span></h1>
	  <p class="lead">Des promotions comme jamais vous en avez vu,
	  	<br>et tout ça uniquement sur CoachMe.</p>
	  <a class="btn btn-primary btn-lg mt-5" href="#" role="button">Découvrir</a>
	</div>

	<header>
		<h2 class="text-center mt-5 mb-3">Vous soutenir dans vos objectifs</h2>
		<div class="d-flex justify-content-center">
			<div class="col-md-5 text-center">
				<p class="mb-5">Vous essayez de perdre du poids, de vous tonifier, d'abaisser votre IMC ou d'investir dans votre état de santé général ? Nous vous donnons les fonctionnalités pour atteindre vos objectifs.</p>
			</div>
		</div>
		<div class="d-flex flex-row justify-content-around mx-5 px-5">
			<div class="col-md-3 mx-3">
				<div class="text-center">
					<i class="fas fa-dumbbell fa-3x mb-3"></i>
				</div>
				<h5 class="text-center"><span class="orange">Le meilleur</span> de l'équipement</h5>
				<p>Des promotions comme jamais vous en avez vu, et tout ça uniquement sur CoachMe.</p>
			</div>
			<div class="col-md-3 mx-3">
				<div class="text-center">
					<i class="fas fa-users fa-3x mb-3"></i>
				</div>
				<h5 class="text-center">Une <span class="orange">communauté</span> soudée</h5>
				<p>Des promotions comme jamais vous en avez vu, et tout ça uniquement sur CoachMe.</p>
			</div>
			<div class="col-md-3 mx-3">
				<div class="text-center">
					<i class="fas fa-signal fa-3x mb-3"></i>
				</div>
				<h5 class="text-center"><span class="orange">Progresser</span>. Apprendre. Evoluer.</h5>
				<p>Avec CoachMe, ayer un suivi constant sur vos objectifs et votre progression grâce à nos coachs certifiés.</p>
			</div>
		</div>
	</header>

	<h2 class="text-center mt-5 mb-4">Nos produits</h2>

	<div class="container-fluid">

	  <section>

	      <div id="carousel-example-multi" class="carousel slide carousel-multi-item v-2 product-carousel" data-ride="carousel">

	        <div class="carousel-inner" role="listbox">

	          <div class="carousel-item active mx-auto">
	            <div class="col-12 col-md-4 col-lg-2 mx-auto">
	              <div class="card mb-2">
	                <div class="view overlay">
	                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Square/img(4).jpg" alt="Card image cap">
	                  <a href="#!">
	                    <div class="mask rgba-white-slight"></div>
	                  </a>
	                </div>
	                <div class="card-body p-3">
										  	<h5 class="card-title font-weight-bold mb-0"></h5>
		                  <p class="mid-grey mb-0"></p>
		                  <p class="orange mb-0"></p>
	                </div>
	              </div>
	            </div>
	          </div>

	          <% @items.each do |item| %>
          		<%= link_to item_path(item.id) do %>
          			<%= item.title %>
          		<% end %>
          		<%= image_tag item.image_url, alt: "Produit" %>
          		<%= item.price %>€
							<%= item.description %>
							<%= link_to "Ajouter", item_cart_item_index_path(item.id), method: 'post' %>
          	<% end %>
<!-- Product hidden behind navbar (Has to be modified buy fronters) -->





	          <div class="carousel-item">
	            <div class="col-12 col-md-4 col-lg-2 mx-auto">
	              <div class="card mb-2">
	                <div class="view overlay">
	                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Square/img(1).jpg" alt="Card image cap">
	                  <a href="#!">
	                    <div class="mask rgba-white-slight"></div>
	                  </a>
	                </div>
	                <div class="card-body p-3">
	                  <h5 class="card-title font-weight-bold mb-0">Indie City</h5>
	                  <p class="mid-grey mb-0">Pixies</p>
	                  <p class="orange mb-0">14,99 $</p>
	                </div>
	              </div>
	            </div>
	          </div>
	          <div class="carousel-item">
	            <div class="col-12 col-md-4 col-lg-2 mx-auto">
	              <div class="card mb-2">
	                <div class="view overlay">
	                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Square/img(7).jpg" alt="Card image cap">
	                  <a href="#!">
	                    <div class="mask rgba-white-slight"></div>
	                  </a>
	                </div>
	                <div class="card-body p-3">
	                  <h5 class="card-title font-weight-bold mb-0">Year</h5>
	                  <p class="mid-grey mb-0">Indielectru</p>
	                  <p class="orange mb-0">12,99 $</p>
	                </div>
	              </div>
	            </div>
	          </div>
	          <div class="carousel-item">
	            <div class="col-12 col-md-4 col-lg-2 mx-auto">
	              <div class="card mb-2">
	                <div class="view overlay">
	                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Square/img(8).jpg" alt="Card image cap">
	                  <a href="#!">
	                    <div class="mask rgba-white-slight"></div>
	                  </a>
	                </div>
	                <div class="card-body p-3">
	                  <h5 class="card-title font-weight-bold mb-0">L'Hiver Indien</h5>
	                  <p class="mid-grey mb-0">Baloji</p>
	                  <p class="orange mb-0">10,99 $</p>
	                </div>
	              </div>
	            </div>
	          </div>
	          <div class="carousel-item">
	            <div class="col-12 col-md-4 col-lg-2 mx-auto">
	              <div class="card mb-2">
	                <div class="view overlay">
	                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Square/img(6).jpg" alt="Card image cap">
	                  <a href="#!">
	                    <div class="mask rgba-white-slight"></div>
	                  </a>
	                </div>
	                <div class="card-body p-3">
	                  <h5 class="card-title font-weight-bold mb-0">Indie Funk</h5>
	                  <p class="mid-grey mb-0">Generation Funk</p>
	                  <p class="orange mb-0">19,99 $</p>
	                </div>
	              </div>
	            </div>
	          </div>
	          <div class="carousel-item">
	            <div class="col-12 col-md-4 col-lg-2 mx-auto">
	              <div class="card mb-2">
	                <div class="view overlay">
	                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Square/img(2).jpg" alt="Card image cap">
	                  <a href="#!">
	                    <div class="mask rgba-white-slight"></div>
	                  </a>
	                </div>
	                <div class="card-body p-3">
	                  <h5 class="card-title font-weight-bold mb-0">Rockferry</h5>
	                  <p class="mid-grey mb-0">Duffy</p>
	                  <p class="orange mb-0">17,99 $</p>
	                </div>
	              </div>
	            </div>
	          </div>
	          <div class="carousel-item">
	            <div class="col-12 col-md-4 col-lg-2 mx-auto">
	              <div class="card mb-2">
	                <div class="view overlay">
	                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Square/img(3).jpg" alt="Card image cap">
	                  <a href="#!">
	                    <div class="mask rgba-white-slight"></div>
	                  </a>
	                </div>
	                <div class="card-body p-3">
	                  <h5 class="card-title font-weight-bold mb-0">Female Indie Pop</h5>
	                  <p class="mid-grey mb-0">Various artists</p>
	                  <p class="orange mb-0">9,99 $</p>
	                </div>
	              </div>
	            </div>
	          </div>
	          <div class="carousel-item">
	            <div class="col-12 col-md-4 col-lg-2 mx-auto">
	              <div class="card mb-2">
	                <div class="view overlay">
	                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Square/img(5).jpg" alt="Card image cap">
	                  <a href="#!">
	                    <div class="mask rgba-white-slight"></div>
	                  </a>
	                </div>
	                <div class="card-body p-3">
	                  <h5 class="card-title font-weight-bold mb-0">Rock 'N' Roll</h5>
	                  <p class="mid-grey mb-0">Chuck Berry</p>
	                  <p class="orange mb-0">29,99 $</p>
	                </div>
	              </div>
	            </div>
	          </div>
	          <div class="carousel-item">
	            <div class="col-12 col-md-4 col-lg-2 mx-auto">
	              <div class="card mb-2">
	                <div class="view overlay">
	                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Square/img(9).jpg" alt="Card image cap">
	                  <a href="#!">
	                    <div class="mask rgba-white-slight"></div>
	                  </a>
	                </div>
	                <div class="card-body p-3">
	                  <h5 class="card-title font-weight-bold mb-0">High Voltage</h5>
	                  <p class="mid-grey mb-0">AC/DC</p>
	                  <p class="orange mb-0">24,99 $</p>
	                </div>
	              </div>
	            </div>
	          </div>

	        </div>

	      </div>

	      <!--Controls-->
	        <div class="my-3 text-center">
	        	<a class="btn-floating btn-md" href="#carousel-example-multi" data-slide="prev"><button class="btn btn-primary"><i class="fas fa-chevron-left"></i></button></a>
	        	<a class="btn-floating btn-md" href="#carousel-example-multi" data-slide="next"><button class="btn btn-primary"><i class="fas fa-chevron-right"></i></button></a>
	        </div>
	      <!--/.Controls-->
	  </section>
	</div>

	<!-- carousel -->
	<h2 class="text-center mt-5 pt-5 mb-4">Les Avis</h2>
	<div id="carouselExampleControls" data-interval="3000" class="carousel slide" data-ride="carousel">
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	      <%= image_tag("img/avistest1.png", class:"d-block w-100", alt:"image avis") %>
	    </div>
	    <div class="carousel-item">
	      <%= image_tag("img/avistest2.png", class:"d-block w-100", alt:"image avis") %>
	    </div>
	  </div>
	  <!--Controls-->
        <div class="my-3 text-center">
        	<a class="btn-floating btn-md" href="#carouselExampleControls" data-slide="prev"><button class="btn btn-primary"><i class="fas fa-chevron-left"></i></button></a>
        	<a class="btn-floating btn-md" href="#carouselExampleControls" data-slide="next"><button class="btn btn-primary"><i class="fas fa-chevron-right"></i></button></a>
        </div>
  	  <!--/.Controls-->
	</div>
	<!-- Fin carousel -->

	<!-- articles -->
	<h2 class="text-center mt-5 pt-4 mb-4">Le Blog</h2>
	<div class="card-group row d-flex justify-content-center">

		<div class="col-md-4">
		  <div class="card mb-5 mr-4">
		    <%= image_tag("img/Bandeau_blackfriday.jpg", class:"card-img-top", alt:"Card image cap") %>
		    <div class="card-body">
		      <h5 class="card-title">Le Black Friday ? Qu'est ce que c'est ?</h5>
		      <p class="card-text">Le jour ultime pour faire des bonnes affaires</p>
		      	<a href="#" class="btn btn-primary">Lire l'article</a>
		    </div>
		  </div>
	 	</div>

	 	<div class="col-md-4">
		  <div class="card mb-5 ml-4">
		    <%= image_tag("img/avantage_prote.jpg", class:"card-img-top", alt:"Card image cap") %>
		    <div class="card-body">
		      <h5 class="card-title">Le Black Friday ? Qu'est ce que c'est ?</h5>
		      <p class="card-text">Le jour ultime pour faire des bonnes affaires</p>
		      	<a href="#" class="btn btn-primary">Lire l'article</a>
		    </div>
		  </div>
		</div>

	</div>
	<!-- Fin articles -->
