
	<div class="jumbotron">
	  <h1 class="display-4 my-4"><span class="orange">Black</span><span class="mid-grey">Friday</span></h1>
	  <p class="lead">Des promotions comme jamais vous en avez vu, 
	  	<br>et tout ça uniquement sur CoachMe.</p>
	  <a class="btn btn-primary btn-lg mt-5" href="#" role="button">Découvrir</a>
	</div>

	<header>
		<h2 class="text-center mb-3">Vous soutenir dans vos objectifs</h2>
		<div class="d-flex justify-content-center">
			<div class="col-md-5 text-center">
				<p class="mb-5">Vous essayez de perdre du poids, de vous tonifier, d'abaisser votre IMC ou d'investir dans votre état de santé général ? Nous vous donnons les fonctionnalités pour atteindre vos objectifs.</p>
			</div>
		</div>
		<div class="d-flex flex-row justify-content-around mx-5 px-5">
			<div class="col-md-3 mx-3">
				<div class="text-center">
					<i class="fas fa-dumbbell fa-3x mb-3"></i>
				</div>
				<h5 class="text-center"><span class="orange">Le meilleur</span> de l'équipement</h5>
				<p>Des promotions comme jamais vous en avez vu, et tout ça uniquement sur CoachMe.</p>
			</div>
			<div class="col-md-3 mx-3">
				<div class="text-center">
					<i class="fas fa-users fa-3x mb-3"></i>
				</div>
				<h5 class="text-center">Une <span class="orange">communauté</span> soudée</h5>
				<p>Des promotions comme jamais vous en avez vu, et tout ça uniquement sur CoachMe.</p>
			</div>
			<div class="col-md-3 mx-3">
				<div class="text-center">
					<i class="fas fa-signal fa-3x mb-3"></i>
				</div>
				<h5 class="text-center"><span class="orange">Progresser</span>. Apprendre. Evoluer.</h5>
				<p>Avec CoachMe, ayer un suivi constant sur vos objectifs et votre progression grâce à nos coachs certifiés.</p>
			</div>
		</div>
	</header>

	<h2 class="text-center mt-5 mb-4">Nos produits</h2>

	<div class="card-group">

		<% @items.each do |item| %>
	    <div class="card col-md-3 my-2 mx-4" style="min-width: 300px;">
	       <%= image_tag item.image_url, alt: "image produit", class:"d-block w-100" %>
	       <div class="card-body">
	         <h5 class="card-title"><%= item.title %> </h5>
	         <h6> <%= item.price %> € </h6>
	         <p class="card-text"><%= item.description %></p>
	         <a href="<%= item_path(item.id) %>" class="btn btn-primary">Voir le produit</a>
	       </div>
	     </div>
		<% end %>

	</div>

	<!-- carousel -->
	<h2 class="text-center mt-5 pt-5 mb-4">Les Avis</h2>
	<div id="carouselExampleControls" data-interval="3000" class="carousel slide" data-ride="carousel">
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	      <%= image_tag("img/avistest1.png", class:"d-block w-100", alt:"image avis") %>
	    </div>
	    <div class="carousel-item">
	      <%= image_tag("img/avistest2.png", class:"d-block w-100", alt:"image avis") %>
	    </div>
	  </div>
	  <!--Controls-->
        <div class="my-3 text-center">
        	<a class="btn-floating btn-md" href="#carouselExampleControls" data-slide="prev"><button class="btn btn-primary"><i class="fas fa-chevron-left"></i></button></a>
        	<a class="btn-floating btn-md" href="#carouselExampleControls" data-slide="next"><button class="btn btn-primary"><i class="fas fa-chevron-right"></i></button></a>
        </div>
  	  <!--/.Controls-->
	</div>
	<!-- Fin carousel -->

	<!-- articles -->
	<h2 class="text-center mt-5 pt-4 mb-4">Le Blog</h2>
	<div class="card-group row d-flex justify-content-center">

		<div class="col-md-4">
		  <div class="card mb-5 mr-4">
		    <%= image_tag("img/Bandeau_blackfriday.jpg", class:"card-img-top", alt:"Card image cap") %>
		    <div class="card-body">
		      <h5 class="card-title">Le Black Friday ? Qu'est ce que c'est ?</h5>
		      <p class="card-text">Le jour ultime pour faire des bonnes affaires</p>
		      	<a target="_blank" href="https://www.bfmtv.com/pratique-tech/qu-est-ce-que-le-black-friday-1801411.html" class="btn btn-primary">Lire l'article</a>
		    </div>
		  </div>
	 	</div>

	 	<div class="col-md-4">
		  <div class="card mb-5 ml-4">
		    <%= image_tag("img/avantage_prote.jpg", class:"card-img-top", alt:"Card image cap") %>
		    <div class="card-body">
		      <h5 class="card-title">Le Black Friday ? Qu'est ce que c'est ?</h5>
		      <p class="card-text">Le jour ultime pour faire des bonnes affaires</p>
		      	<a target="_blank" href="https://naturalathleteclub.com/blog/proteines-vegetales-guide/" class="btn btn-primary">Lire l'article</a>
		    </div>
		  </div>
		</div>

	</div>
	<!-- Fin articles -->

