<nav class="navbar fixed-top shadow-sm navbar-expand-lg navbar-light bg-light">
  <%= link_to 'CoachMe', root_path, class: "navbar-brand mr-5" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse bg-white" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Découvrir', root_path, class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to 'Produits', items_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Blog', root_path, class: "nav-link" %>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control orange-border mr-sm-2" type="text" placeholder="Search">
      <!-- type="submit" -->
      <a class="search-button mx-3"><i class="fas fa-search fa-md"></i></a>
    </form>
    <ul class="nav-item dropdown mt-3">
        <a class="mx-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-shopping-cart fa-lg"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if user_signed_in? %>
            <%= link_to 'Mes articles', cart_path(current_user.id), class: "dropdown-item" %>
          <% end %>
          <a class="dropdown-item" href="#">Adresse de livraison</a>
          <a class="dropdown-item" href="#">Paiement</a>
        </div>
    </ul>
    <ul class="nav-item dropdown mt-3">
      <a class="mx-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user-circle fa-lg"></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <% if user_signed_in? %>
          <%= link_to 'Mes informations', edit_user_registration_path, class: "dropdown-item" %>
          <%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        <% else %>
          <%= link_to 'Se connecter', new_user_session_path, class: "dropdown-item" %>
          <%= link_to "S'inscrire", new_user_registration_path, class: "dropdown-item" %>
        <% end %>
      </div>
    </ul>
  </div>
</nav>

<div style="height: 71px;"></div>